---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
<h1 class="text-slate-800 text-2xl text-center p-4">Moje hustá stránka</h1>
</Layout>
